<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889748310575-04lb9qop3c6f4g5etgagf33elokbou4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889748310575-04lb9qop3c6f4g5etgagf33elokbou4n</string>
	<key>API_KEY</key>
	<string>AIzaSyC0kbyYbeSLuGBPUyWGZVQrUf1pQW--DCM</string>
	<key>GCM_SENDER_ID</key>
	<string>889748310575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shresthaventures.ezyshare</string>
	<key>PROJECT_ID</key>
	<string>ezy-share</string>
	<key>STORAGE_BUCKET</key>
	<string>ezy-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889748310575:ios:ee78a4434a04cbb7fc54da</string>
</dict>
</plist>